@import "tailwindcss";

@theme {
  --color-agri-green: #0B4624;
  --color-agri-green-dark: #062B15;
  --color-chili-red: #C82217;
  --color-chili-red-dark: #A3180F;

  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Plus Jakarta Sans', sans-serif;
}